<ion-header no-border no-shadow mode="ios">
  <ion-toolbar color="primary" style="--border-width: 0 0 0px !important;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resgistar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin: 30px;">
    <ion-list style="width: 100%;">

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input #strName></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input #strEmail></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"#strPassword></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repita a palavra-passe</ion-label>
        <ion-input type="password"#confPass></ion-input>
      </ion-item>



      <div style="margin-top: 25px; margin: 0 auto; width: 100%;text-align: center;">
        <ion-button (click)="registarUser()">Registar</ion-button>
      </div>
    </ion-list>
  </div>



</ion-content>