<ion-header no-border no-shadow mode="ios">
  <ion-toolbar color="primary" style="--border-width: 0 0 0px !important;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar cliente</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>


<div style="position: relative;top: 50%;transform: translateY(-75%);">
<ion-card style="margin-top: 30%;background: transparent;box-shadow: none;background-color: rgba(238, 174, 202, 0.13);">
    <ion-list style="margin: 15px;padding: 0px;">

      <ion-avatar style="margin: 0 auto; height: 100px; width: 100px;border: 0.5px solid lightpink;">
        <img src="assets/img/avatar.jpg" onerror="this.src='/assets/img/avatar.jpg';">
      </ion-avatar>


      <ion-item>
        <ion-label position="floating">Nome do cliente</ion-label>
        <ion-input required type="text" [(ngModel)]="cliente.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contacto do cliente</ion-label>
        <ion-input required type="number" [(ngModel)]="cliente.telemovel"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating">Observações ao cliente</ion-label>
        <ion-textarea type="text" rows="5"[(ngModel)]="cliente.clienteObs" > </ion-textarea>
      </ion-item>


    </ion-list>
    <!-- <div style="width: 100%; text-align: center;">
      <ion-button style="margin: 0 auto; margin-top: 30px ;margin-bottom: 15px;" (click)="saveCliente()">Guardar</ion-button>
    </div> -->
  </ion-card>
</div>
  


</ion-content>

<ion-footer class="ion-no-border" no-border no-shadow style="background-color: #9abde9;--border-width: 0 0 0px !important;">
  <ion-toolbar style="--background: #9abde9;--border-width: 0 0 0px !important; text-align: center;">
      <ion-button style="--background:#e5b0ce" (click)="saveCliente()">Guardar</ion-button>
  </ion-toolbar>
  </ion-footer>