ion-content  {
    --background: linear-gradient(183deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
  }
  
  
  ion-item, ion-list{
    --background:transparent;       
    background-color: transparent  !important;
  }


  .avatarPerfil {
    max-width: 85px;
    max-height: 85px;
    width: 85px;
    height:85px;
  }

  .labelNome{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px
  }
