ion-content  {
    --background: linear-gradient(183deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
  }  
  ion-header {
    position: absolute;
    ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;
    }
  }
  
  ion-item, ion-list{
    --background:transparent;       
    background-color: transparent  !important;
  }


  .avatarPerfil {
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
  }

  .labelNome{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px
  }



  
  .labelTitle{
    margin: 50px 0px 0px 41px;

  }
  .labelTitle ion-label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: black;
  }



  ion-card{
   
  box-shadow: none;
  }


  .categoryLabel{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

color: black;
  }


  .descTime{
    font-family: 'Didact Gothic';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height */



color: #313131;
  }