ion-content  {
  --background: linear-gradient(183deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}


ion-item, ion-list{
  --background:transparent;       
  background-color: transparent  !important;
}

  ion-item-option{
    height: 30px;
    align-self: center;
    background: transparent;
    z-index: 999999;
  }
   ion-item-options{
   border: none;
  } 