<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col size="11">
      <ion-searchbar
      mode="ios"
      #searchInput
      showcancelbutton=""
      (ionChange)="searchContacts()" #textSearchValue
      placeholder="Pesquisa..."
    ></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-icon (click)="menu($event)" name="filter-outline" style="font-size: 25px;padding-top: 15px;"></ion-icon>
     
    </ion-col>
  </ion-row>
  <div style="margin-top: 25px; margin-left: 25px;">
    <strong style="font-size: 20px;">Lista de clientes</strong>
  </div>

<ion-card style="background: transparent;box-shadow: none;">
    <ion-item *ngFor="let cliente of clientes" (click)="navToCliente(cliente)">
    {{cliente.strName}}
  </ion-item>
</ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/adicionar-cliente" routerDirection="forward" style="--background: #e3b0ce;">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
