<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="margin-top: 25px; margin-left: 25px;">
    <strong style="font-size: 20px;">Lista de clientes</strong>
  </div>

<ion-card>
    <ion-item *ngFor="let cliente of clientes" (click)="navToCliente(cliente)">
    {{cliente.nome}}
  </ion-item>
</ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/adicionar-cliente" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
