ion-content  {
  --background: linear-gradient(183deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}


ion-item, ion-list{
  --background:transparent;       
  background-color: transparent  !important;
}

ion-header {
  position: absolute;
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
}

ion-card{
  background: white;
  border-radius: 5px;
  margin-top: 15%;
}
ion-avatar{
  width: 100px;
  height: 100px;
}

.font{
  font-family: Didact Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  
  color: #313131;
  
}