<ion-header no-border no-shadow mode="ios">
  <ion-toolbar color="primary" style="--border-width: 0 0 0px !important;">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" style="--background: transparent;">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-list style="width: 100%;">

      <ion-item>
        <ion-label class="label" position="floating">Nome</ion-label>
        <ion-input #strName clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label type="email"class="label" position="floating">Email</ion-label>
        <ion-input #strEmail clearInput></ion-input>
      </ion-item>


      <ion-item>
        <ion-label class="label" position="floating">Password</ion-label>
       <ion-input type="password" #strPassword clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="floating">Repete a password</ion-label>
        <ion-input type="password" #confPass clearInput></ion-input>
      </ion-item>
    </ion-list>
  
  </div>

</ion-content>
<ion-footer class="ion-no-border" no-border no-shadow
  style="background-color: #9abde9;--border-width: 0 0 0px !important;">
  <ion-toolbar style="--background: #9abde9;--border-width: 0 0 0px !important; text-align: center;">
    <ion-button style="--background:#e5b0ce;width: 200px;" (click)="saveEditUser()">Gravar</ion-button>
  </ion-toolbar>
</ion-footer>