ion-content  {
     --background: linear-gradient(183deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   

  }  
  ion-header {
    position: absolute;
    ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;
    }
  }



  ion-item, ion-list{
    --background:transparent;       
    background-color: transparent  !important;
  }


  ion-label, .label{
font-family: 'Didact Gothic';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #313131;

  }


  .divLogin{
    text-align: center;
   
    margin: 30px;
    border-radius: 5px;
  }
  